
<div id="sidebar" class="sidebar responsive ace-save-state" style="position: absolute; z-index: 1000;top: 45px;" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    @*<div id="sidebar" class="sidebar sidebar-fixed responsive menu-1024">*@
    <!-- sidebar menu start-->
    <ul class="nav nav-list">
    </ul>
    <!-- sidebar menu end-->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>